
.hov a:hover{
    color: rgba(124, 173, 247, 0.938) !important;
}
a:link{
    color:aliceblue;
    font-weight: 500;
    text-decoration:none;
}
a{
    color:rgb(255, 150, 30) !important;
}
.dropdown-menu{
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,0.18);
    background-color: rgba(255, 255, 255, 0);
}
.dropdown-item{
    background-color: rgba(255, 255, 255, 0);
}
strong{
    color: brown;
    font: 500;
}
